/**
 * ---------------------------------------------------------------------------------------------------------------------
 * Sorting
 * ---------------------------------------------------------------------------------------------------------------------
 */

.bambooo_sorting {
  cursor: pointer;
}

.bambooo_sorting:after {
  opacity: 0.3;
  padding-left: 0.5em;
  content: "↑↓";
  bottom: 0.9em;
  cursor: pointer;
}

.bambooo_sorting:hover {
  background-color: rgba(0,0,0,.075);
}

.bambooo_sorting_desc:after {
  opacity: 1;
  padding-left: 0.5em;
  content: "↑";
  bottom: 0.9em;
  cursor: pointer;
}

.bambooo_sorting_asc:after {
  opacity: 1;
  padding-left: 0.5em;
  content: "↓";
  bottom: 0.9em;
  cursor: pointer;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * Table
 * ---------------------------------------------------------------------------------------------------------------------
 */

.table-sentinel {
  height: 1px;
}

.table-wrapper {
  max-height: calc(100vh - 250px);
  overflow-y: auto;
}